[package]
name = "solders"
version = "0.0.1"
edition = "2021"
include = ["src/*.rs", "./LICENSE", "pyproject.toml"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "solders"
crate-type = ["cdylib", "rlib"]

[dependencies]
pyo3 = { version = "^0.16.1", features = ["extension-module", "abi3-py37"] }
solana-sdk = "^1.10.11"
bincode = "^1.3.3"
serde = "^1.0.136"
serde_json = "^1.0.59"
borsh = "^0.9.3"
dict_derive = "0.4.0"
rand = "0.7"

[package.metadata.maturin]
python-source = "python"
