name: docs

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"

      - name: Install python dependencies
        run: |
          pip install sphinx sphinx-rtd-theme pybip39

      - name: Build Wheels
        uses: messense/maturin-action@v1
        with:
          command: build
          args: --release --out dist
      - name: Install module
        run: |
          pip install typing-extensions
          pip install solders --no-index --no-dependencies --find-links dist --force-reinstall

      - name: Build documentation
        run: make html

      - name: Test documentation
        run: make doctest

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          force_orphan: true
